@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
@import url('https://fonts.googleapis.com/css?family=Roboto');

*:focus{
	outline: none;
}
html {
  height: 100%;
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #cc1228;
}

ul{
  list-style-type: none;
  margin: auto;
}

img{
  height: auto;
  width: 100%;
}

section{
  width: 100%;
  height: 100%;
}

/*logo*/
.logo{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 35%;
  right: 0;
  left: 2%;
  width: 500px;
  height: 200px;
}

/*style of the start chatting button*/

.start-button{
  position: absolute;
  margin: auto;
  top: 13%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 220px;
  height: 80px;

}

#start-button-style{
  height: 100%;
  width: 120%;
  border: 4px solid #800000;
  font-family: 'Roboto', monospace;
  font-size: 33px;
  word-spacing: 1px;
  color: white;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
  text-align: center;
  border-radius: 12px;
  background-color: #800000;
}

#start-button-style:hover{
  background-color: white;
  color: #800000;
  border: 4px solid #800000;
}

#start-button-style:active{
  background-color: white;
  color: #4CAF50;
  border: 4px solid white;
}
/*style of the footer, about us and contact us*/

footer{
	background-color: #ff334a;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 1%;
  padding-bottom: 1%;
	width: 100%;
}


.bottom-banner li{
  text-align: center;
  margin:1%;
	padding:5% 5% 1% 25%;
  display: inline;
  font-size: 150%;
  font-family: 'Roboto', monospace;
  color: white;
}

#about{
  background-color: #ff334a;
  font-family: 'Roboto', monospace;
  font-size: 140%;
  color: white;
  border: none;
  position: relative;
  text-decoration: none;
  display: inline-block;
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: ease;
  transition-delay: initial;
  transform-style: preserve-3d;
}

#about:after{
  top: -100%;
	left: 0px;
	width: 100%;
	position: absolute;
	background: #800000;
	border-radius: 5px;
	content: 'Us';
	transform-origin: left bottom;
	transform: rotateX(90deg);
}

#about:hover{
  transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}

#contact{
  background-color: #ff334a;
  font-family: 'Roboto', monospace;
  font-size: 140%;
  color: white;
  border: none;
  position: relative;
  text-decoration: none;
  display: inline-block;
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: ease;
  transition-delay: initial;
  transform-style: preserve-3d;
}

#contact:after{
  top: -100%;
	left: 0px;
	width: 100%;
	position: absolute;
	background: #800000;
	border-radius: 5px;
	content: 'Us';
	transform-origin: left bottom;
	transform: rotateX(90deg);
}

#contact:hover{
  transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}
